body, html
{
    width: 100%;
    min-height: 100vh;
    /* transform-origin: 0 0; */
    height: auto;
    overflow-y: auto !important;
    overflow-x: auto !important;
    /* box-sizing: inherit;  */

   
}

body {
    width: 100%; 

    /* margin-top: -300px; */
    /* z-index: -99; */
    /* display: block;  */
    /* background-color: black; */
    /* width: 120% !important;
    height: 120% !important;  */
    /* overflow-y: auto !important;
    overflow-x: auto !important; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}

/* *, :after, :before {
    box-sizing: inherit;
    -webkit-print-color-adjust: exact;
} */

.circle {
    position: absolute;
    z-index: 100;
    top: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #ff705a;
    cursor: move;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle input {
    width: 60px;
    height: 20px;
    background-color: #ff705a;
    border: none;
    margin-left: 10px;
    border-bottom: 1px solid black;
    outline: none;
}

.circle2 {
    z-index: 100;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 400px;
    left: 400px;
    border-radius: 50%;
    background-color: #ff705a;
    cursor: -webkit-grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle2 input  {
    margin: auto;
    width: 60px;
    height: 20px;
    padding-left: 10px;
    margin-left: 10px;
    background-color: #ff705a;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

#line {
    /* z-index: 99; */
    position: absolute;
    top: 75px; 
    left: 75px; 
    width: 565.34px; 
    height: 2px;
    background: #071a39;
    transform-origin: 0 0;
    transform: rotate(0.7853981633974483rad);
}

#lineInput
{
    position: relative;
    z-index: 100;
    width: 40px;
    left: 50%;
    border-radius: 10px; 
    margin: auto;
    background: #071a39;
    margin-top: -15px; 
    color: #fff;
    padding-left: 20px; 

}


#field {
    /* position: relative; */
    border: 3px solid pink;
    overflow-y: auto !important;
    overflow-x: auto !important;
    width: 100vw!important;
    height: 100vh !important;
    min-height: 100%;
    min-width: 100%;
    margin-top: 100px;
}
