 
body, html {
    min-height: 100vh;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: visible;
    overflow-y: visible; 

}

#wrapper {
    position: relative;
    height: 900px!important; 
    width: 100%!important; 
}
#container {
    position: absolute;
    overflow-x: visible;
    overflow-y: visible; 
    height: 100%!important; 
    width: 100%!important; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circle {
    position: absolute;
    z-index: 9;
    width: 150px;
    height: 150px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #ff705a;
    cursor: -webkit-grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
    overflow-y: visible; 
    
}

.circle input {
    width: 60px;
    height: 20px;
    margin-left: 10px;
    background-color: #ff705a;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
} 

 .circle2 {
    position: absolute;
    z-index: 150px;
    width: 150px;
    height: 150px;
    top: 400px;
    left: 400px; 
    border-radius: 50%;
    background-color: #ff705a;
    cursor: -webkit-grab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.circle2 input  {
    width: 60px;
    height: 20px;
    margin-left: 10px;
    background-color: #ff705a;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    
} 

 #line {
    position: absolute;
    margin: auto;
    top: 75px; 
    left: 75px;
    width: 565.34px; 
    height: 2px;
    background: #071a39;
    transform-origin: 0 0;
    transform: rotate(0.7853981633974483rad);
}

#lineInput {
    position: absolute;
    left: 50%;
    background: #071a39;
    margin-top: -15px;
    margin-left: -30px;
    width: 60px;
    color: #fff;
    padding: 10px;
    border-radius: 10px;

} 

